definitions:
  domain.Category:
    properties:
      category_name:
        type: string
      id:
        type: integer
    type: object
  models.Category:
    properties:
      category_name:
        type: string
    type: object
  models.OTPData:
    properties:
      phone:
        type: string
    required:
    - phone
    type: object
  models.Product:
    properties:
      category_id:
        type: integer
      colour:
        type: string
      price:
        type: string
      product_image:
        items:
          type: integer
        type: array
      product_name:
        type: string
      stock:
        type: string
    type: object
  models.UserDetails:
    properties:
      confirmpassword:
        type: string
      email:
        type: string
      name:
        type: string
      password:
        type: string
      phone:
        type: string
    type: object
  models.UserLogin:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  models.UserSignInResponse:
    properties:
      email:
        type: string
      id:
        type: integer
      name:
        type: string
      password:
        type: string
      phone:
        type: string
      role:
        default: false
        type: boolean
      user_id:
        type: integer
    type: object
  models.VerifyData:
    properties:
      code:
        type: string
      phone:
        type: string
    required:
    - code
    - phone
    type: object
  response.Response:
    properties:
      data: {}
      error: {}
      message:
        type: string
      status_code:
        type: integer
    type: object
info:
  contact:
    name: API Support
  description: TechDeck is an E-commerce platform to purchase and sell Electronic
    itmes
  title: Go + Gin E-Commerce API
  version: 1.0.0
paths:
  /admin/product/addcategory:
    post:
      consumes:
      - application/json
      description: Add category by admin
      parameters:
      - description: Category object
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/models.Category'
      produces:
      - application/json
      responses:
        "200":
          description: Added Category details
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Add category
      tags:
      - Product Management
  /admin/product/addproduct:
    post:
      consumes:
      - application/json
      description: Add product by admin
      parameters:
      - description: Product object
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/models.Product'
      produces:
      - application/json
      responses:
        "200":
          description: Added product details
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Add product
      tags:
      - Product Management
  /admin/product/deletecategory/{category_id}:
    delete:
      consumes:
      - application/json
      description: delete Category by id
      parameters:
      - description: category_id
        in: query
        name: category_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'delete Category  '
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
      security:
      - BearerTokenAuth: []
      summary: delete category
      tags:
      - Product Management
  /admin/product/deleteproduct/{product_id}:
    delete:
      consumes:
      - application/json
      description: Delete product by id
      parameters:
      - description: product id
        in: query
        name: product_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'Array of deleted product details '
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Delete product
      tags:
      - Product Management
  /admin/product/editproduct/{product_id}:
    put:
      consumes:
      - application/json
      description: Edit product by admin
      parameters:
      - description: product_id
        in: query
        name: product_id
        required: true
        type: integer
      - description: Product object
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/models.Product'
      produces:
      - application/json
      responses:
        "200":
          description: Edit product details
          schema:
            type: string
        "400":
          description: Bad request
          schema:
            type: string
      security:
      - BearerTokenAuth: []
      summary: Edit product
      tags:
      - Product Management
  /admin/product/updatecategory:
    post:
      consumes:
      - application/json
      description: Category by id
      parameters:
      - description: category_id
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'Update Category  '
          schema:
            items:
              $ref: '#/definitions/domain.Category'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/domain.Category'
            type: array
      security:
      - BearerTokenAuth: []
      summary: update category
      tags:
      - Product Management
  /admin/users/block/{user_id}:
    patch:
      description: Block/Unblock on prompt
      parameters:
      - description: user id
        in: path
        name: user_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: The user details
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Block/Unblock User
      tags:
      - User Management
  /admin/users/deleteuser/{user_id}:
    delete:
      consumes:
      - application/json
      description: Delete user by id
      parameters:
      - description: user id
        in: query
        name: user_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'Array of user details '
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Delete User
      tags:
      - User Management
  /admin/users/searchuser:
    get:
      consumes:
      - application/json
      description: Search for users based on various criteria with pagination.
      parameters:
      - description: Name to search for
        in: query
        name: name
        type: string
      - description: Email address to search for
        in: query
        name: email
        type: string
      - description: ID to search for
        in: query
        name: id
        type: integer
      - description: Page number (default 1)
        in: query
        name: page
        type: integer
      - description: Result per page (default 1)
        in: query
        name: per_page
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'Array of user details '
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
        "500":
          description: Error in server
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
      security:
      - BearerTokenAuth: []
      summary: Search user by various criteria
      tags:
      - User Management
  /admin/users/userlist:
    get:
      description: Retrive and display user list according to instructions
      parameters:
      - description: Page number (default 1)
        in: query
        name: page
        type: integer
      - description: Results per page (default 10)
        in: query
        name: per_page
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: 'Array of user details '
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/response.Response'
            type: array
      security:
      - BearerTokenAuth: []
      summary: List the users you could specify page and no of users in one page
      tags:
      - User Management
  /cart/addtocart/{id}:
    put:
      consumes:
      - application/json
      description: Add product to the cart using product id
      parameters:
      - description: product-id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerTokenAuth: []
      summary: Add to Cart
      tags:
      - Cart Mangement
  /users/login:
    post:
      consumes:
      - application/json
      description: Sign in a user and return user details and a token
      parameters:
      - description: User login details
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.UserLogin'
      produces:
      - application/json
      responses:
        "200":
          description: User details and role
          schema:
            $ref: '#/definitions/models.UserSignInResponse'
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
      summary: UserSignIN
      tags:
      - User Auth
  /users/otplogin:
    post:
      consumes:
      - application/json
      description: verify Phone number using OTP
      parameters:
      - description: Phone number
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.OTPData'
      produces:
      - application/json
      responses:
        "200":
          description: phone number
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
      summary: SendOTP
      tags:
      - User Auth
  /users/signup:
    post:
      consumes:
      - application/json
      description: Retrive UserDetails stored in DB and a auth token with success
        message
      parameters:
      - description: User details
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.UserDetails'
      produces:
      - application/json
      responses:
        "201":
          description: User details and token
          schema:
            items:
              $ref: '#/definitions/models.UserDetails'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
      summary: UserSignUP
      tags:
      - User Auth
  /users/verifyotp:
    post:
      consumes:
      - application/json
      description: verify Phone number using OTP
      parameters:
      - description: Phone number and code
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.VerifyData'
      produces:
      - application/json
      responses:
        "200":
          description: phone number
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
        "400":
          description: Bad request
          schema:
            items:
              $ref: '#/definitions/models.UserSignInResponse'
            type: array
      summary: VerifyOTP
      tags:
      - User Auth
  /users/viewproducts:
    get:
      consumes:
      - application/json
      description: view products by a user
      produces:
      - application/json
      responses:
        "200":
          description: List of products
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/response.Response'
      summary: ViewProducts
securityDefinitions:
  BearerTokenAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
