name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21.3

      - name: Build Go app
        run: make build

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH key (for server deployment)
        run: |
          echo "$AWS_SSH_PRIVATE_KEY" | tr -d '\r' > ssh_key
          cat ssh_key
          chmod 600 ssh_key
          eval "$(ssh-agent -s)"
          ssh-add ssh_key

      - name: Deploy to EC2
        run: |
          ssh -i ssh_key ubuntu@ec2-13-235-9-49.ap-south-1.compute.amazonaws.com "cd /e-commerce-project && ./deploy.sh"
